[submodule "docs"]
	path = docs
	url = git://github.com/eregansu/eregansu.github.com.git
[submodule "gendoc"]
	path = gendoc
	url = git://github.com/eregansu/gendoc.git
[submodule "lib"]
	path = lib
	url = git://github.com/eregansu/lib.git
