[submodule "docs"]
	path = docs
	url = git://github.com/eregansu/eregansu.github.com.git
[submodule "gendoc"]
	path = gendoc
	url = git://github.com/eregansu/gendoc.git
[submodule "lib"]
	path = lib
	url = git://github.com/eregansu/lib.git
[submodule "install"]
	path = install
	url = git://github.com/eregansu/install.git
[submodule "silk"]
	path = silk
	url = git://github.com/eregansu/silk.git
[submodule "framework"]
	path = framework
	url = git://github.com/eregansu/framework.git
