Source: eregansu
Section: web
Priority: extra
Maintainer: Mo McRoberts <mo.mcroberts@bbc.co.uk>
Build-Depends: debhelper (>= 8.0.0), autoconf, automake, php5-cli
Standards-Version: 3.9.3

Package: php-eregansu
Architecture: any
Depends: ${misc:Depends}, php5-cli
Recommends: libapache2-mod-php5 | php5-fpm | php5-cgi
Description: Eregansu PHP framework
