Source: eregansu
Section: web
Priority: extra
Maintainer: Mo McRoberts <mo.mcroberts@bbc.co.uk>
Build-Depends: debhelper (>= 8.0.0), autoconf, automake, libtool, libxml2-dev, libcurl4-gnutls-dev, librdf0-dev, libltdl-dev
Standards-Version: 3.9.3

Package: php-eregansu
Architecture: any
Depends: ${misc:Depends}
Description: Eregansu PHP framework
